## CEOs Twitter Presence

In [31]:
# Packages:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from urllib.request import urlopen
import json
import datetime
import numpy as np
import warnings
from textblob import TextBlob
import re
from wordcloud import WordCloud

In [34]:
ceo_names = ['sundar','albert','benioff','branson','dorsey','drewhouston','elonmusk','JeffBezos','timcook']

def ceo_df(name):
    ceo_tweets = pd.read_csv("data/processed/"+name+"_cleaned.csv")
    ceo_tweets['ceo'] = name
    return ceo_tweets

sundar = ceo_df('sundar')
albert = ceo_df('albert')
benioff = ceo_df('benioff')
branson = ceo_df('branson')
dorsey = ceo_df('dorsey')
drewhouston = ceo_df('drewhouston')
elonmusk = ceo_df('elonmusk')
JeffBezos = ceo_df('JeffBezos')
timcook = ceo_df('timcook')

,Date,Price,Price_scaled,Price_delta,Tweets,Agg_count,Agg_retweet,Agg_favorite,Subjectivity_mean,Polarity_mean,Polarity_scaled,Polarity_delta,Favorite_scaled,Retweet_scaled,ceo
0,2019-07-29,39.326378,0.444708,NaN,These are deliberate steps we are taking to ma...,9.0,117.0,555.0,0.542670,0.199042,0.427887,0.000000,0.063742,0.062602,albert
1,2019-07-30,36.802658,0.353433,-0.091275,Today we welcome the talented colleagues of Ar...,1.0,9.0,110.0,0.701389,0.472222,0.623016,0.195129,0.012634,0.003811,albert
2,2019-07-31,36.850094,0.355149,0.001716,NaN,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,albert
3,2019-08-01,36.290321,0.334903,-0.020245,NaN,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,albert
4,2019-08-02,36.053131,0.326325,-0.008578,NaN,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,albert
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588,2021-11-24,50.889999,0.862928,-0.006872,Great podcast discussion between two leaders I...,1.0,3.0,28.0,0.575000,0.400000,0.571429,0.101190,0.003216,0.000544,albert
589,2021-11-26,54.000000,0.975407,0.112479,NaN,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,albert
590,2021-11-29,52.400002,0.917540,-0.057867,NaN,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,albert
591,2021-11-30,53.730000,0.965642,0.048102,"Today, we submitted a request to the _FDA to e...",5.0,370.0,1674.0,0.435970,0.226591,0.447565,-0.003734,0.192259,0.200327,albert
592,2021-12-01,54.680000,1.000000,0.034358,Great news! Today the 3 billionth dose of our ...,3.0,124.0,1081.0,0.612778,0.383333,0.559524,0.111959,0.124153,0.066413,albert